.Header_container{
    background: rgba(17, 32, 88, 0.549);
    background: linear-gradient(0deg, rgba(17,32,88,1) 0%, rgba(85,67,28,1) 100%);
    padding: 20px;
display: flex;
justify-content: space-between;




    color: white;

}

